### EXAMPLE ENVIROMENT FILE ###

POSTGRES_USER=grid
POSTGRES_PASSWORD=grid_pw
POSTGRES_DB=grid_observatory
POSTGRES_HOST=db
POSTGRES_PORT=5432
FLEET_SIZE=300
TELEMETRY_INTERVAL_SECONDS=5
GRID_SOURCE=ercot